.hero{
    gap: 1rem;
    display: flex;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .hero__image{
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        border-radius: 50%;
    }

    .hero__subtitle{
        line-height: .9;
        color: var(--clr-slate800);
        font-size: var(--size-base);
        font-family: GeneralSans-SemiBold;
    }

    .hero__title{
        line-height: .9;
        letter-spacing: -0.05em;
        font-size: var(--size-4xl);
        text-transform: uppercase;
        color: var(--clr-slate400);
        font-family: GeneralSans-Bold;
    }

    .hero__description{
        max-width: 60ch;
        color: var(--clr-slate600);
        font-size: var(--size-sm);
    }

    .hero__btn{
        font-size: var(--size-sm);
    }
}




/* xs */
@media (min-width:475px) {
    .hero{
        gap: 1.5rem;

    .hero__image{
        width: 6.5rem;
        height: 6.5rem;
    }

    .hero__subtitle{
        font-size: var(--size-lg );
    }

    .hero__title{
        font-size: var(--size-5xl);
    }

    .hero__description{
        font-size: var(--size-base);
    }

    .hero__btn{
        font-size: var(--size-base);
    }
}
}

/* sm */
/* @media (min-width:640px) {} */

/* md */
/* @media (min-width:768px) {} */

/* lg */
@media (min-width:1024px) {
    .hero{
        .hero__image{
            width: 8rem;
            height: 8rem;
        }

        .hero__subtitle{
            font-size: var(--size-2xl);
        }

        .hero__title{
            font-size: var(--size-7xl);
        }

        .hero__description{
            font-size: var(--size-lg);
        }

        .hero__btn{
            font-size: var(--size-lg);
        }
    }
}

/* xl */
@media (min-width:1280px) {
    .hero{
        gap: 2rem;
        .hero__image{
            width: 10rem;
            height: 10rem;
        }

        .hero__subtitle{
            font-size: var(--size-4xl);
        }

        .hero__title{
            font-size: var(--size-9xl);
        }

        .hero__description{
            font-size: var(--size-xl);
        }

        .hero__btn{
            font-size: var(--size-xl);
        }
    }
}

/* 2xl */
/* @media (min-width:1536px) {} */